{
  // .swcrc should be treated as JSONC

  "sourceMaps": true,

  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },

    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
